<div class="base">
    <div class="header">
        <div class="quadro">
            <div class="logo"></div>
        </div>
    </div>
    <div class="menu">
        <ul class="rotas">
            <li>
                <a (click)="Encaminhar('dashboard')"> <img src="../../../assets/img/house.png" alt=""><span>dashboard</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('producao')"> <img src="../../../assets/img/bread.png" alt=""><span>produçao</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('ingrediente')"> <img src="../../../assets/img/ingredient.png" alt=""><span>ingredientes</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('receita')"><img src="../../../assets/img/book.png" alt=""><span>receitas</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('cliente')"><img src="../../../assets/img/contacts.png" alt=""><span>clientes</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('marca')"><img src="../../../assets/img/star.png" alt=""><span>marcas</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('fornecedor')"><img src="../../../assets/img/truck.png" alt=""><span>fornecedores</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('estoque')"><img src="../../../assets/img/box.png" alt=""><span>estoque</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('financeiro')"><img src="../../../assets/img/money.png" alt=""><span>financeiro</span></a>
            </li>
            <li>
                <a (click)="Encaminhar('configuracoes')"><img src="../../../assets/img/config.png" alt=""><span>configurações</span></a>
            </li>
          </ul>
    </div>
</div>
